.menu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal; 
    font-size: 16px;
    font-style: normal;
    background-color: #3D2A20;
}

.name {
    font-size: 22px;
    font-family: monospace;
    font-weight: lighter;
}

.foot {
    background-color: #A67A60;
}

.bg-img{
    background-image: url('/assets/img/coado.jpg');
}

.bg-color {
    color: thistle;
}

.wh-sm{
    width: 60px;
    height: 60px;
}

.zoom{
    width: 85px;
    height: 85px;
} 



